*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.margin {
    margin-bottom: 10px;
}
.container{
    margin: 0 auto;
    width: 80%;
}
form{
    max-width: 400px;
    margin: 20px auto;
    border: none;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
legend{
    font-weight: bold;
    text-align: center;
}
fieldset{
    margin: 5px;
    padding: 5px;
    border: none;
}
label{
    display: flex;
    padding-bottom: 5px;
}
input{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 100%;
    min-width: 150px;
    height: 30px;

    box-shadow: 0 0 20px 0 rgba(153,153,153,0.75);
    -webkit-box-shadow: 0 0 20px 0 rgba(153,153,153,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(153,153,153,0.75);
}
input:focus {
    outline: none;
    box-shadow: 0 0 20px 0 rgba(13,222,97,0.75);
    -webkit-box-shadow: 0 0 20px 0 rgba(13,222,97,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(13,222,97,0.75);
}
input:hover{
    border: none;
}
button{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: none;

    margin: 15px 0 0;
    width: 100%;
    height: 30px;

    box-shadow: 0 0 20px 0 rgba(153,153,153,0.75);
    -webkit-box-shadow: 0 0 20px 0 rgba(153,153,153,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(153,153,153,0.75);
}
button:hover{
    box-shadow: 0 0 20px 0 rgba(13,222,97,0.75);
    -webkit-box-shadow: 0 0 20px 0 rgba(13,222,97,0.75);
    -moz-box-shadow: 0 0 20px 0 rgba(13,222,97,0.75);
}
button:active {
    box-shadow: 0 0 20px 0 rgba(1, 230, 79, 0.75) inset;
    -webkit-box-shadow: 0 0 20px 0 rgba(1, 230, 79, 0.75) inset;
    -moz-box-shadow: 0 0 20px 0 rgba(1, 230, 79, 0.75) inset;
}